<!DOCTYPE html>
<html>
	<head>
		<title>RESTest</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="stylesheets/rest.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
		<script type="text/javascript" src="javascripts/rest.js"></script>
	</head>
	<body>
		<nav>
			<a class="brand" href="https://github.com/aegan">RESTest</a>
			<a href="https://github.com/AEgan/RESTest-server">Fork</a>
			<a href="https://github.com/AEgan/RESTest-iOS-app">iOS Companion</a>
		</nav>
		<div class="container">
			<table id="messages">
				<thead>
					<th>Author</th>
					<th>Message</th>
					<th></th>
				</thead>
				<tbody>
				</tbody>
			</table>
			<form id="new-msg-form">
				<label for="author">Name</label>
				<input type="text" name="author" id="author">
				<label for="message">Message</label>
				<input type="text" name="message" id="message">
				<input type="submit" value="Submit" id="submit">
			</form>
		</div>
	</body>
</html>