body {
	margin: 0 0 0 0;
}

nav {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2%;
	background-color: #000000;
}

nav > a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: large;
	margin-right: 1%;
}

nav > a.brand {
	color: #FF0000;
	font-size: x-large;
}

nav > a:hover {
	color: #888888;
}